

<h1>Crowd Funding App</h1>

<p>
  Welcome to the Crowd Funding opportunity example. This is a Proof Of Concept (POC) demonstrating how a crowd funding application could function.
</p>
<p>
  Functionality is mostly in a mock state including an in-memory DB instance.  It is expected that this POC would evolve to include the following:
</p>
<ul>
  <li>N-layered Solution Design;</li>
  <li>Data Access Logic (repositories, MongoDb or relationational DB context;</li>
  <li>Business Service Logic;</li>
  <li>User Authentication Logic (registration, login etc...);</li>
  <li>Unit Tests.</li>
</ul>

<p>
  <strong>Note</strong><br />
  A session is created for the current active user and is maintained while active in this example;
  Persistent user investment logic is currently not implemented and should be added going forward based on requirements, closing this window and returning generates a new unique Id value.
</p>

<hr />

<h2>Investment Items</h2>

<p>
  Your current Unique Id: {{ Id }}
</p>


