

<h1>Crowd Funding App</h1>

<p>
  Welcome to the Crowd Funding opportunity example. This is a Proof Of Concept (POC) demonstrating how a crowd funding application could function.
  <br />
  Functionality is mostly in a mock state including an in-memory DB instance.  It is expected that this POC would evolve to include the following:
  <em>N-layered Solution Design, Data Access Logic (repositories, MongoDb or relationational DB context), Business Service Logic, User Authentication Logic (registration, login etc...), Unit Tests.</em>
</p>
  <h2>User Session</h2>
  <p>
    A unique Id is created for each page request to represent an <b>active user</b>;
    Persistent user investment logic is not implemented and should be added going forward based on requirements.
    <br /><br />
    <strong>
      Closing/refreshing the app window generates a new unique Id value.
      <br/><br />
      Current unique Id: {{ UserId }}
    </strong>
  </p>

<hr />

<h2>Investment Items</h2>

<div id="investments">

  <div *ngFor="let product of products" class="investment-item">
    <!-- I N V E S T M E N T   I T E M -->

    <h3>{{ product.name }}</h3>
    <div class="text-description">{{ product.description }}</div>

    <hr />
    <div class="investment-container">

      <div class="investment-status">
        {{ product.investmentAmount | currency: 'EUR' }} / {{ product.investmentRequired | currency: 'EUR' }}
      </div>

        <div class="invest invest-form" [hidden]="product.invested !== undefined">
          <form #f="ngForm" (ngSubmit)="invest(f, product)" novalidate>
            <span>&euro;</span>
            <input type="number" name="amount" required ngModel class="form-control form-control-sm" maxlength="5" min="100" max="10000" step="100" onkeydown="javascript: return event.keyCode == 69 ? false : true;" />
            <input type="submit" class="btn btn-sm btn-primary " value="Invest &raquo;" />
          </form>
        </div>

        <div class="invest invested-text" [hidden]="!product.invested > 0">
          You invested: {{ product.invested | currency: 'EUR' }}
        </div>

    </div>
  </div>
</div>


